<div class="panel-group" ng-model="activePanel" bs-collapse>
  <div class="panel panel-default" ng-repeat="object in objects">
    <div class="panel-heading" bs-collapse-toggle>
      <h4 class="panel-title">
        <a>
          <h3>{{ object.name }} <small>({{ object.data.length }})</small></h3>
        </a>
      </h4>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        <ul class="nav nav-sidebar">
          <li ng-repeat="item in object.data"
              ng-class="{ active: curObject.data.gist === item.gist }"
              ng-click="selectObject(object.type, item)">
            <a href="#" ng-bind="item.name"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
