<div class="pull-right">
  <div class="form-group has-feedback">
    <input ng-model="table.searchText" type="search" class="form-control" placeholder="Search" />
    <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
  </div>
</div>

<h1 class="page-header capitalize">
  {{ curObject.type }} <small>&laquo;{{ curObject.data.name }}&raquo;</small>
</h1>

<div class="panel-group" ng-model="table.addCollapseState" bs-collapse>
  <div class="panel panel-success">
    <div class="panel-heading" bs-collapse-toggle>
      <h4 class="panel-title">
        <a>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add row
        </a>
      </h4>
    </div>
    <div class="panel-collapse" bs-collapse-target>
      <div class="panel-body">
        <form ng-submit="addNewRow()" class="form-horizontal my-form" role="form">
          <div ng-repeat="col in table.cols | orderBy:'index'" class="form-group">
            <label class="col-sm-3 control-label">
              {{ col.name }}
              <span class="glyphicon glyphicon-asterisk text-danger"
                    aria-hidden="true" ng-hide="col.nullable"></span>
            </label>
            <div class="col-sm-9" ng-switch on="getInputType(col.type.declaration)">
              <textarea ng-switch-when="textarea" ng-required="!col.nullable"
                        ng-model="table.newRow[col.name]" class="form-control"
                        rows="3" placeholder="{{ col.name }}"></textarea>
              <input ng-switch-when="number" ng-required="!col.nullable"
                     ng-model="table.newRow[col.name]" type="number"
                     class="form-control" placeholder="{{ col.name }}" />
              <input ng-switch-when="checkbox" ng-required="!col.nullable"
                     ng-model="table.newRow[col.name]" type="checkbox"
                     class="form-control" placeholder="{{ col.name }}" />
              <input ng-switch-when="date" ng-required="!col.nullable"
                     ng-model="table.newRow[col.name]" type="date"
                     class="form-control" placeholder="{{ col.name }}" />
              <input ng-switch-when="text" ng-required="!col.nullable"
                     ng-model="table.newRow[col.name]" type="text"
                     class="form-control" placeholder="{{ col.name }}" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" bs-collapse>
  <div class="panel panel-default my-panel">
    <div class="panel-heading" bs-collapse-toggle>
      <h4 class="panel-title">
        <a>
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          Rows ({{ table.rows.length }})
        </a>
      </h4>
    </div>
    <div class="panel-collapse" data-start-collapsed="true" bs-collapse-target>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th ng-repeat="col in table.cols | orderBy:'index'">
                    <a href="" data-placement="top" data-title="Click for sort"
                       data-animation="am-fade-and-slide-bottom" bs-tooltip
                       ng-click="sortBy(col.name)" ng-bind="col.name"></a>
                  </th>
                  <th class="cell-warning">
                    <span class="glyphicon glyphicon-edit text-warning"
                          aria-hidden="true" data-placement="top"
                          data-title="Edit" bs-tooltip
                          data-animation="am-fade-and-slide-bottom"></span>
                  </th>
                  <th class="cell-danger">
                    <span class="glyphicon glyphicon-remove text-danger"
                          aria-hidden="true" data-placement="top"
                          data-title="Delete" bs-tooltip
                          data-animation="am-fade-and-slide-bottom"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in table.rows | orderBy:table.predicate:table.reverse | filter:table.searchText">
                  <td ng-repeat="col in table.cols | orderBy:'index'"
                      ng-bind="row[col.name]"></td>
                  <td class="cell-warning">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                          data-placement="top" data-title="Edit" bs-tooltip
                          data-animation="am-fade-and-slide-bottom"></span>
                  </td>
                  <td class="cell-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                          data-placement="top" data-title="Delete" bs-tooltip
                          data-animation="am-fade-and-slide-bottom"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
