<h1 class="page-header capitalize">
  {{ curObject.type }} <small>&laquo;{{ curObject.data.name }}&raquo;</small>
</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th ng-repeat="col in table.cols | orderBy:'index'">
          <a href="" data-placement="top" data-title="Click for sort"
             data-animation="am-fade-and-slide-bottom" bs-tooltip
             ng-click="sortBy(col.name)" ng-bind="col.name"></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in table.rows | orderBy:predicate:reverse">
        <td ng-repeat="col in table.cols | orderBy:'index'"
            ng-bind="row[col.name]"></td>
      </tr>
    </tbody>
  </table>
</div>
