.main-container {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0px !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F5F5F5;
  border-right: 1px solid #EEEEEE;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #FFFFFF;
  background-color: #428BCA;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {

  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

}

.main .page-header {
  margin-top: 0;
}

span#logo {
  display: inline-block;
  background-image: url(../images/logo.png);
  background-size: 28px;
  width: 28px;
  height: 28px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #555555;
  color: #F5F5F5;
}

.panel-group .panel .panel-heading {
  cursor: pointer
}

.capitalize {
  text-transform: capitalize;
}

.my-panel .panel-body {
  padding: 0px;
}

.my-panel .panel-body .table {
  margin: 0px;
}

th.cell-warning,
th.cell-danger {
  width: 39px;
  text-align: center;
}

td.cell-warning,
td.cell-danger {
  width: 39px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

td.cell-warning {
  color: #F0AD4E;
}

td.cell-warning:hover {
  color: #FFFFFF;
  background-color: #F0AD4E;
}

td.cell-danger {
  color: #D9534F;
}

td.cell-danger:hover {
  color: #FFFFFF;
  background-color: #D9534F;
}

.my-form textarea {
  resize: vertical;
}