<!DOCTYPE html>
<html lang="en" ng-app="EMSSQLDBMApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="icon" type="image/png" href="favicon.png" />
  <title>Easy MS SQL DB Manager</title>
  <!-- bower:css -->
  <!-- endbower -->
  <!-- build:style bundle -->
  <!-- /build -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- build:script bundle -->
  <!-- /build -->
  <script type="text/javascript">
    //var mssql = require('mssql');
  </script>
</head>
<body ng-controller="MainCtrl">

  <div ng-if="!authenticated" class="container signin-container" ng-include="'partials/sign-in.html'"></div>

  <div ng-if="authenticated" class="main-container">

    <div ng-include="'partials/menu.html'"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-include="'partials/sidebar.html'"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-include="'partials/workspace.html'"></div>       
      </div>
    </div>

  </div>

</body>
</html>